<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footerstyle.css">
    <title>Document</title>
</head>

<body>
    <footer>
        <div class="row">
            <div class="col">
                <img src="/2saffron.png" class="logo">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum, dolores!</p>
            </div>
            <div class="col">
                <h3>Office</h3>
                <p>MG Road</p>
                <p>Hinjewadi Phase-3, Pune</p>
                <p>Maharashtra, IN 424001</p>
                <p class="email-id">thesaffron012@gmail.com</p>
                <h4>+91 626 309 9634</h4>
            </div>
            <div class="col">
                <h3>Links</h3>
                <ul>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <img src="/2 (2).png" class="logo">
            </div>
        </div>
    </footer>

</body>

</html>