<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registration.css">
    <title>Registration</title>
</head>

<body>
    <form>
        <center>
            <h1>Registration Form</h1> <br>

            <label>Enter Your Name:</label> <br>
            <input type="text" placeholder="Your Name"><br>
            <label>Enter Your E-mail id:</label> <br>
            <input type="email" placeholder="Your xyz123@gmail.com"><br>
            <label>Enter Your Mobile no:</label> <br>
            <input type="number" placeholder="Your number"><br>
            <!-- <label>Enter Your Gender:</label> <br>-->

            <!--<label> Male <input type="radio" name="gen"><br> Female<input type="radio" name="gen"></label><br>-->

            <label>Create Your new password:</label> <br>
            <input type="password" placeholder="Your password"><br>
            <label></label>re-enter password:</label> <br>
            <input type="password" placeholder="Your password"><br>
            <label> Select Your Country</label>
            <select>
                <option> 
                    Your Country
                </option>
                <option> 
                    India +91
                </option>
                <option> 
                    USA +1
                </option>
                <option> 
                    China +89
                </option>
                <option> 
                    Russia +99
                </option>
                <option> 
                    Japan +92
                </option>
            </select>
            <button type="submit"> SUBMIT</button>


        </center>
    </form>

</body>

</html>